body {
    padding: 0px;
    margin: 0px;
    background-color: black;
}
header {
    text-align: center;
    margin: 10px;
    font-size: 80px;
}
sub {
    text-align: center;
    margin: 10px;
    display: block;
    font-size: 15px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.selections {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
#colourPicker{
    min-width: 200px;
    min-height: 200px;
}
.grid {
    display: grid;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
.grid-item:hover {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    border-radius: 10px;
    transition: opacity 0.2s ease;
    transform: scale(1.24);
}
.grid-item{
    transition: opacity 2s ease 0.4s, transform 0.8s ease;
    transform: scale(1);
}
#invert, #random {
    padding: 10px;
    margin: 10px;
}
label {
    font-size: larger;
}
label[for="slider"] {
    text-align: center;
}

